{% extends "tasks/base.html" %}

{% block title %}{{list_id}}{% endblock %}
{% load crispy_forms_tags %}

<!-- <style>
	.div {
	  border-width: 5px !important;
	}
</style> -->


{% block content %}
<ul class="task-group">
	{% for task in tasks_list %}
		<li class="list-group-item">
				<h3>{{task.name}}</h3>
				<p>{{task.creation_date}}</p>
				<p>{{task.description}}</p>
				<p>
					<input type="checkbox" id="task_completed"> Task completed
				</p>
		</li>
	{% endfor %}
	</ul>
{% endblock %}